body{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: rgb(37, 37, 37);
}
.card{
    width: 200px;
    background-color: rgb(14, 53, 138);
    border: 2px solid black;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    animation-name: loadin;
    animation-duration: 3s;
    &__img{     //photo de profil ronde
        height: 100px;      //définir la taille afin qu'elle soit carré
        width: 100px;       //définir la taille afin qu'elle soit carré
        border-radius: 50%;     //le 50% permet de la rendre ronde
        border: 2px solid rgb(224, 8, 8);
        object-fit: cover;      //permet de centrer mon image dans mon cercle
        align-self: center;
    }
    &__title{
        color: white;
        align-self: center;
    }
    &__button{      //caractéristiques de mon bouton
        background-color: whitesmoke;
        color: black;
        width: 100%;
        padding: 15px;
        border-radius: 30px;
        border: 2px solid black;
        font-size: 14px;        //taille de ma police avant le hover
        transition: font-size 1s;       //le temps que va mettre ma police pour changer
        position: relative;
        display: inline;
    }
    &__button::after{       //barre underline du bouton
        content: "";
        display: block;
        position: absolute;
        width: 0%;
        height: 3px;
        background: rgb(9, 233, 20);
        transition: width 1s linear;        //la direction, la durée et la façon dont il va s'agrandir au moment du hover
    }
    &__button:hover::after{     //taille de mon underline quand il est arrivé au bout 
       width: 170px;
    }
    &__button:hover{        //caractéristique de mon bouton au moment du hover
        font-size: 20px;
    }
    &__description{
        color: whitesmoke;
        &--active{
            font-weight: bold;
        }
    }
}

@keyframes loadin{      //permet à ma carte de virer de droite vers le centre 
    0% {transform: translateX(400%);}
    100% {transform: translateX(0%);}
}